@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&display=swap');

  @keyframes zoom {
    from {
      object-position: 0 50%;
    }
    to {
      object-position: 100% 50%;
    }
  }
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

} 

.bod {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #070707;
    background-image: linear-gradient( 5deg, #070f08 0%, #131b16 7%);
}

.logo {
    position: relative;
    /* box-shadow: 0px 0px 300px 180px rgb(17, 85, 37);
    border-radius: 100%;
    border: 10px; */
   
 }

 .anim {
    animation-name: example;
    animation-duration: 5s;
    box-shadow: 0px 0px 400px 200px rgb(6, 51, 20);
    border-radius: 100%;
    border: 200px;
 }

 .phone {
     border-radius:40px;
     cursor: pointer;
     /* width: 50%;
     max-width: 100%;
     height: 50%; */
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     height: auto;
     margin-top: -50%;
     
 }
 @keyframes example {
    0%   {background-color: rgb(81, 185, 81);}
    35%  {background-color: #0c140d;}
    45% {background-color: rgb(81, 185, 81);}
    65%  {background-color: #0c140d;}
    80% {background-color: rgb(81, 185, 81);}
    100% {background-color: rgb(17, 85, 37);}
  }

.icon_img {
        color: rgb(245, 248, 245);
        font-size: 55px;
        text-align: center;
        padding-top: 0px;
        margin-left: -100px;
        margin-bottom: 430px;
        margin-top: 100;
        width: 100%;
        transform : rotate(330deg);
        text-shadow: 0 0 30px rgb(81, 185, 81);
        animation: animate 5s linear infinite;
      }
      
      .ico_img {
        color: rgb(220, 231, 220);
        font-size: 70px;
        text-align: center;
        padding-top: -9px;
        margin-left: -00px;
        margin-bottom: 630px;
        margin-top: 400;
        width: 100%;
        transform : rotate(320deg);
        text-shadow: 0 0 20px rgb(81, 185, 81);
        animation: animate 5s linear infinite;
      }

footer {
      font-size: 70px;
      color:rgb(245, 248, 245);
      margin-top: 650px;
      margin-left: -630px;
      font-family: 'Dancing Script', cursive;
      
}

#container {
    min-height: 100vh;
}

.top {
    height: 50vh;
    background-color: black;
    
    background-image: linear-gradient( 45deg, #1FC3F0 1%, #366783 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom {
    height: 50vh;
    /* background-color: #38b6ff; */
    background-color: black;
    background-image: linear-gradient( 45deg, #00F0B0 1%, #2d8a51 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.new {
  
  max-width: 50%;
  font-size: 50px;
  color: white;
  cursor: pointer;
  
}
.try {
    max-width: 50%;
    font-size: 50px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.mode {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    padding-bottom: 0px;
    cursor: pointer;
    font-family: Lobster;
    
}

.mode:hover {
    color: white;
    
  
   }