@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&display=swap');
  @keyframes zoom {
    from {
      object-position: 0 50%;
    }
    to {
      object-position: 100% 50%;
    }
  }
  
  @keyframes blur {
    from {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
      transform: scale(2, 2);
    }
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    min-height: 100vh;
    background-color: #070707;
    background-image: linear-gradient( 5deg, #070f08 0%, #131b16 7%);
    /* font-family: var(--font);
    font-weight: var(--fontOrigin);
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.005rem;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: subpixel-antialiased; */
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, 1fr );
    grid-template-rows: auto;
    grid-template-areas:
      "menu menu menu"
      ". card .";
    width: 90%;
    max-width: 100%;
    min-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
   
  .card {
    position: relative;
    grid-area: card;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 9000em;
    height: 1900px;
    /* font-size: var(--fontOrigin); */
    border-radius: 10px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all 0.65s  ease;
    transition: all 0.65s  ease;
    padding: 0;
    min-width: 800px ;
    
  }
  
  .card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  
  

  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  }
  
  .card__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all 0.65s  ease;
    transition: all 0.65s  ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  
  .card:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
  }
  
  .card__header {
    display: grid;
    width: 100%;
    height: 100%;
    padding-top: 500px;
  }
  
  .card__profile {
    align-self: center;
    justify-self: center;
    position: relative;
    display: block;
    overflow: hidden;
    width: 700px;
    height: 700px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
  
  .card__profile img {
    -webkit-transform: scale(1.5, 1.5)  translateZ(0);
    transform: scale(1.2, 1.2)  translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
    filter: grayscale(50%) contrast(75%) brightness(1.3);
    -webkit-transition: all 0.65s  ease;
    transition: all 0.65s  ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card:hover .card__profile img {
    -webkit-transform: scale(1, 1)  translateZ(0);
    transform: scale(1, 1)  translateZ(0);
  }
  
  .card__body {
    position: relative;
  }
  
  .card__name {
    align-self: center;
    justify-self: center;
    position: relative;
    margin-bottom: 100%;
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 10px 10px 0px white;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, serif;
  }
  
  .card:hover .card__name {
    -webkit-text-fill-color: transparent;
  }
  
 



  
  /* MODIFIERS */
  .card[data-effect="blur"]:hover .card__image img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  
  .card[data-effect="blur"] .card__image img {
    animation-name: blur;
  }
  
  .card[data-effect="color"]:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
  }
  
  .card[data-effect="color"] .card__image {
    background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
  }
  
  .card[data-effect="color"]:hover .card__image img {
    opacity: 0.8;
  }
  
  .card[data-effect="color"]:hover .card__profile img {
    -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
    filter: grayscale(50%) contrast(80%) brightness(1.6);
    mix-blend-mode: normal;
  }